.footer {
  width: 100%;
  background-color: var(--dark-blue);
  color: var(--light-blue);
  padding: 0.75rem;
  text-align: center;
  font-family: monospace;
  border-top: 1px solid var(--light-blue);
  position: sticky;
  bottom: 0;
  z-index: 100;
}